@media only screen and (max-width: 767px) {
    /* Navbar */
    .container-fluid {
        padding: 0;
    }
    #myNavbar {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .navbar-nav,
    .navbar-nav>li {
        width: 100%;
        margin: 0;
    }
    .dropdown-menu>li {
        width: 100%;
    }
    .dropdown-menu>li>a {
        width: 100%;
        text-align: center;
        height: auto;
    }
    /* Banner */
    .carousel-caption {
        text-align: center;
    }
    .carousel-caption>h1 {
        font-size: 4rem;
    }
    .carousel-caption>p {
        display: none;
    }
    /* Aside */
    .aside {
        display: none;
    }
    /* Footer */
    footer {
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-caption {
        font-size: 0.7rem;
    }
    .carousel-caption>h1 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    .carousel-caption {
        font-size: 1rem;
    }
}